@import 'variables';

.react-multi-carousel-list {
    overflow: visible;
}

.react-multi-carousel-dot-list {
    li.react-multi-carousel-dot {
        &:not(:last-child) {
            margin-right: 10px;
        }

        button {
            width: 10px;
            height: 10px;
            margin: 0;

            border: none;
            outline: none;
            background: #cad5e1;
        }

        &.react-multi-carousel-dot--active {
            button {
                background: $color-primary;
            }
        }
    }
}
