// Structure
$space: 1.5rem;

$mobile-width: 520px;

$tablet-width: 700px;

$large-tablet-width: 1000px;

$desktop-width: 1200px;

$content-width: 1440px;

$content-half: $content-width / 2;

$large-desktop-width: 1600px;

$header-height: 60px;

$layout-width-with-tablet: 31%;

$layout-width-with-map: 47%;

$layout-width-of-map: calc(100% - #{$layout-width-with-map});

$layout-width-of-map-tablet: calc(100% - #{$layout-width-with-tablet});

// Font
$font-family_default: 'Helvetica Neue', sans-serif;

$font-size_default: 15px;

$font-weight_bold: 600;

// Colors
$color__background: #fff;

$color__text-main: #333;

$color-red: #d0021b;

$color-error: #d81818;

$color-primary: #0078ff;

$color-secondary: #ffd800;

$color-body: #f8faff;

$color-grey: #2c344d;

$color-grey-light: #b1b8c0;

$color-grey-light-bg: #f8f8fa;

$color-grey-bg: #91a2b5;

$color-light-blue: #98c9ff;

:export {
    primaryColor: $color-primary;
    secondaryColor: $color-secondary;
    greyBlueColor: $color-grey;
    greyDisabledColor: $color-grey-light;
}
