// Structure
$space: 1.5rem;
$mobile-width: 520px;
$tablet-width: 700px;
$large-tablet-width: 1000px;
$desktop-width: 1200px;
$content-width: 1440px;
$content-half: $content-width / 2;
$large-desktop-width: 1600px;

$header-height: 60px;
$layout-width-with-tablet: 31%;
$layout-width-with-map: 47%;
$layout-width-of-map: calc(100% - #{$layout-width-with-map});
$layout-width-of-map-tablet: calc(100% - #{$layout-width-with-tablet});

// Font
$font-family_default: 'Helvetica Neue', sans-serif;
$font-size_default: 15px;
$font-weight_bold: 600;

// Colors
$color__background: #fff;
$color__text-main: #333;
$color-red: #D0021B;
$color-error: #D81818;
$color-primary: #0078FF;
$color-secondary: #FFD800;
$color-body: #F8FAFF;
$color-grey: #2C344D;
$color-grey-light: #B1B8C0;
$color-grey-light-bg: #F8F8FA;
$color-grey-bg: #91A2B5;
$color-light-blue: #98C9FF;

// Colors to be overwritten via JS
:root {
    --color-theme-1: #2C344D;
    --color-theme-2: #E5E5E5;
    --color-theme-3: #D4DEDD;
    --color-theme-4: #502723;
    --color-theme-5: #0078FF;
    --color-theme-6: #F6F7F9;
    --color-theme-shadow: rgba(0, 23, 255, .2);
    --color-theme-shadow-dark: rgba(36, 40, 43, .2);
}
$colorTheme1: var(--color-theme-1);
$colorTheme2: var(--color-theme-2);
$colorTheme3: var(--color-theme-3);
$colorTheme4: var(--color-theme-4);
$colorTheme5: var(--color-theme-5);
$colorTheme6: var(--color-theme-6);
$colorThemeShadow: var(--color-theme-shadow);
$colorThemeShadowDark: var(--color-theme-shadow-dark);
$colorThemeBlack: #24282B;


:export {
    primaryColor: $color-primary;
    secondaryColor: $color-secondary;
    greyBlueColor: $color-grey;
    greyDisabledColor: $color-grey-light;
}
