
// generic styles
@import 'styles/normalize',
    'styles/fonts',
    'styles/variables',
    'styles/mixins',
    'styles/mixins_skeleton';

// overrides of the libraries
@import 'styles/range-input',
    'styles/datepicker',
    'styles/google_map',
    'styles/local_logic_widget',
    'styles/gallery-photos',
    'styles/gallery-fullscreen',
    'styles/lazyload-list',
    'styles/carousel',
    'styles/animations';

#root {
    overflow-x: hidden;
    max-width: 100vw;
}

body.body-noscroll {
    overflow-y: hidden;
}
