
// generic styles
@import 'styles/normalize';
@import 'styles/fonts';
@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/mixins_skeleton';

// overrides of the libraries
@import 'styles/range-input';
@import 'styles/datepicker';
@import 'styles/google_map';
@import 'styles/local_logic_widget';
@import 'styles/gallery-photos';
@import 'styles/gallery-fullscreen';
@import 'styles/lazyload-list';
@import 'styles/carousel';

// another generic styles
@import 'styles/animations';

#root {
    overflow-x: hidden;
    max-width: 100vw;
}

body.body-noscroll {
    overflow-y: hidden;
}
